# Aca usamos Groq pero para diferente IA se usan sus nombre espesificos
# Ejemplo =>
# OPENAI_API_KEY=sk-or...
  #ANTHROPIC_API_KEY=sk-ant...
  #GEMINI_API_KEY=AIzaSy...
  #COHERE_API_KEY=...
  #MISTRAL_API_KEY=...
# Estos nombre es por que se esta usando el codigo general que busca el nombre de la API ya establecida por la empresa
# pero el nombre puede cambiarza pero asi mismo el codigo
# No olvidar que para que el archivo .env pueda ser leido y encontrado se necesita instalar **pip install python-dotenv**
# No hay que crear varios archivos .env en este mismo se puede guardar varias API KEY

GROQ_API_KEY=GROQ_API_KEY
GEMINI_API_KEY = ""
COHERE_API_KEY = ""